html {
  box-sizing: border-box;
  
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --color-primary: #ec5600;
  --color-primary-dark: #db5000;
  --color-secondary: #4d592b;
  --color-secondary-dark: #414536;
  --color-secondary-light: #adb29e;
  --color-secondary-bright: #e2e4d9;
  --color-section-bg: #f5f5f1;
  --color-text: #172126;
  --color-footer-bg: #2c2f24;

  --radius: 12px;
}

/* fonts */
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  color: var(--color-text);
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

/* Velikost nadpisů tablet */
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}

/* Velikost nadpisů desktop */
@media (min-width: 1100px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

section,
footer {
  padding: 50px 0 50px 0;
}
@media (min-width: 768px) {
  section,
  footer {
    padding: 80px 0 80px 0;
  }
}

.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
}

/* Button */
.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  background: var(--color-primary);
  color: white;
  border-radius: 100vw;
}

@media (min-width: 768px) {
  .button {
    padding: 20px 40px;
    font-size: 1.125rem;
  }
}

.button:hover {
  background: var(--color-primary-dark);
}

/* header */
header {
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .container .logo {
  display: block;
  margin-bottom: 10px;
  height: 35px;
}

header .container nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
} 

header .container nav .nav__link {
  display: block;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-secondary-dark);
  border-radius: 100vw;
}

header .container nav .nav__link:hover {
  background: var(--color-secondary-bright);
}

/* tablet */
@media (min-width: 768px) {
  
  header .container nav .nav__link {
    padding: 10px 20px;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  header .container .logo {
    margin-bottom: 0;
  }
}

/* desktop */
@media (min-width: 1100px) {
  
  header .container .logo {
    height: 45px;
  }

  header .container nav .nav__link {
    padding: 15px 30px;
  }
}


/* sekce hero */
.hero {
  background-image: url('./images/hero.jpg');
  background-position:  center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}

.hero .container h1 {
  margin: 0px;
}

.hero .container p {
  font-size: 1.125rem;
  margin: 30px 0;
}

@media (min-width: 768px) {
  .hero {
    padding: 120px 0;
  }

  .hero .container p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1100px) {
  .hero {
    padding: 150px 0;
  }
}

/* jidelni listek */
.jidelni-listek h2 {
  margin: 0px;
  text-align: center;
  margin-bottom: 40px;    
}

.jidelni-listek .karty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; 
  flex-direction: column;
  gap: 30px;
}

.jidelni-listek .karty article {
  padding: 30px 20px;
  text-align: center;
  border: 1px solid var(--color-secondary-bright);
  border-radius: var(--radius);
}

.jidelni-listek .karty h3 {
  color: var(--color-secondary);
  margin: 20px 0;
}

.jidelni-listek .karty article p {
  margin: 20px 0;
}

.jidelni-listek .karty article a {
  text-decoration: none;
  color: var(--color-primary);
}

.jidelni-listek .karty article a:hover {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

/* tablet */
@media (min-width: 768px) {
  .jidelni-listek .karty {
    flex-direction: row;
    justify-content: space-between;
  }

  .jidelni-listek article {
    width: calc((100% - 30px) / 2);
  }
}
/* desktop */
@media (min-width: 1100px) {
  .jidelni-listek .karty {
   flex-wrap: nowrap;
  }
}

/* sekce rozvoz jidla */
.rozvoz {
  background: var(--color-section-bg);
}

.rozvoz .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.rozvoz .container .obrazek, .rozvoz .container .info {
  flex: 1;
}

.rozvoz .container .obrazek picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.rozvoz .container .obrazek img {
  display: block;
  height: auto;
  border-radius: var(--radius);
  max-width: 100%;
}
@media (min-width: 768px) {
  .rozvoz .container {
    flex-direction: row;
  }
}

.rozvoz .container .info h2 {
  margin: 0px;
}

.rozvoz .container .info ul {
  padding: 0;
  margin: 40px 0;
}

.rozvoz .container .info ul li {
  display: flex;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-secondary-dark);
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
}

.rozvoz .container .info p {
  margin: 40px 0;
}

/* footer */
footer {
  background: var(--color-footer-bg);
  color: var(--color-secondary-light);
}

.link--footer {
  color: var(--color-secondary-bright);
}

footer .container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer .menu-a-copyright ul li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}

footer .menu-a-copyright ul li:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}



